*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pozadina{
    min-width: 100vw;
    min-height: 100vh;
    background-color:lightgrey;
    padding-left: 100px;
    padding-right: 100px;

}

.dataTables_length select  {
    background-color: white !important;
 }
 .dataTables_filter input  {
    background-color: white !important; 
 }

.inputPolje{
    display: flex;
    flex-direction: column;
    padding: .5em;
    margin: .5em;
}

#break{
    width: 100.8%;
    height: 5px;
    background-color: black;
}

div.dataTables_filter, div.dataTables_length {
    padding: 8px;
  }