*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test{
    min-width: 100vw;
    min-height: 100vh;
    background-color:lightgrey;
    padding-left: 100px;
    padding-right: 100px;

}

td, th{
    text-align: center;
    vertical-align: middle;
}

.inputPolje{
    display: flex;
    flex-direction: column;
    padding: .5em;
    margin: .5em;
}

